/* hero */
.hero img {
    border-radius: 5%;
    height: auto;
}

.pronouns {
    margin-top: 0.5rem;
}

.biography {
    position: relative;
    right: 0;
    margin-left: 0.5vw;
}

.hero h1 {
    margin-top: 0;
    color: var(--nord6);
    font-size: 1.5rem;
}

@media(min-device-width:768px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1.3rem;
    }
}

.hero strong {
    color: var(--nord14);
}

.hero p {
    color: var(--nord4);
}

.separator {
    color: var(--nord7);
    margin-bottom: 0.5rem;
}

/* recent list */
.recent-list {
    padding: 0.5rem 0.3rem 1rem 0.3rem;
    border-radius: 1vh;
    background: var(--nord1);
    overflow: hidden;
}

.recent-list p {
    padding-right: 1rem;
}

@media(min-device-width:768px) {
    .recent-list {
        margin-right: 1rem;
        height: 80%;
    }
}

/* featured projects */
.featured-projects a {
    color: var(--nord4);
}

.home-box {
    border-radius: 1vh;
    background: var(--nord1);
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

@media(min-device-width:768px) {
    .home-box {
        height: 80%;
    }
}

.home-box h2 {
    margin: 0;
}
