body {
    background-color: var(--nord0);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: var(--nord4);
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

p {
    line-height: 1.5rem;
}

a {
    color: var(--nord8);
}

a:hover {
    color: var(--nord7);
}

a:visited {
    color: var(--nord9);
}

a:hover {
    color: var(--nord7);
}

hr {
    color: var(--nord3);
}

li {
    margin-bottom: 0.5rem;
}

ul {
    padding-left: 1rem;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

@media screen and (min-width:768px) {
    body {
        width: 70%;
    }
}

@media screen and (min-width:1920px) {
    body {
        width: 60%;
    }
}

@media screen and (min-width:2304px) {
    body {
        width: 50%;
    }
}

.main {
    margin: 1vw;
}

@media screen and (min-width:768px) {
    .main {
        margin: auto;
    }
}

/* header */

.home-menu img {
    max-width: 50%;
    padding-bottom: 1vw;
}

@media screen and (min-width:768px) {
    .home-menu img {
        max-width: 100%;
    }
}

.home-menu {
    margin-top: 1rem;
}

.pure-menu-list {
    margin-bottom: 1rem;
}

@media screen and (min-width:768px) {
    .pure-menu-list {
        margin-top: 1rem;
    }
}

.home-menu ul {
    float: right;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
}

.pure-menu-link:hover {
    background: unset;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background: unset;
}

.pure-menu-link {
    color: var(--nord6) !important;
    padding: 3vw 5vw 3vw 0;
}

@media screen and (min-width:768px) {
    .pure-menu-link {
        padding: 0 1vw 0 0;
    }
}

.pure-menu-selected > .pure-menu-link, .pure-menu-selected > .pure-menu-link:visited {
    color: unset;
}

/* banner */
.banner {
    color: var(--nord15);
    text-align: center;
    font-style: italic;
    margin: 0 0 1vw 0;
}

/* footer */
.footer {
    padding: 1rem;
    font-size: 0.75rem;
    color: var(--nord4);
    text-align: center;
}

.footer p {
    line-height: 1rem;
}

.footer img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
