.main img {
    width: 100%;
}

pre {
    background: var(--dark2);
    padding: 1rem;
    white-space: pre-wrap;
    border-radius: 1%;
    border: solid var(--pink);
    border-width: thin;
}

.main {
    max-width: 85ch;
}

code {
    word-wrap: break-word;
}

blockquote {
    border-left: 0.2rem solid var(--pink);
    padding-left: 2rem;
}

h1, h2, h3, h4, h5, h6{
    line-height: 2.5rem;
}
