.project-box {
    border-radius: 1vh;
    background: var(--nord1);
    padding: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

@media screen and (min-width:768px) {
    .project-box {
        height: 65%;
        margin: 1rem;
    }
}

.project-box h2 {
    margin: 0;
}

.main a {
    color: var(--nord4);
}
